################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/src/Rules/Rules/bin/Debug
/src/Rules/Rules/obj/Debug
/src/RulesTests/RulesTests/bin/Debug
/src/RulesTests/RulesTests/obj/Debug
/.vs/Rules/v14/.suo
